/* Position the tabs at the top */
.tabs {
  text-align: center;
  padding: 20px;
}

.tab-button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
}

/* Position the tab content at the top */
.tab-content {
  display: none;
  padding: 20px;
}

/* Show the active tab content */
.tab-content.active {
  display: block;
}

/* Style the chart container */
#chartContainer {
  max-width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Style the chart canvas */
#chartContainer canvas {
  max-width: 100%;
  height: auto;
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #ffe6eb;
}

#map,

html {
  height: 100%;
}

.main-grid {
  display: grid;
  grid-template-columns: 20% 80%;
}

#map {
  height: 600px;
}

.header {
  text-align: center;
  padding: 30px;

}
.infoTab {
  grid-row: span 1 / span 1;
  grid-column-start: 2;
  height: 100%;
  padding: 30px;
}
.chartColumns {
  grid-row: span 1 / span 1;
  grid-column-start: 2;
  height: 100%;
  padding: 30px;
}

.dropDownColumn {
  grid-row: span 2/ span 2;
  height: 100%;
  padding: 30px;
}

.restaurantList {
  padding: 30px;
  border: 1px solid #79c2d0;
  background-color: #e3f6f5;

}

#restaurantList {
  max-width: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

footer {
  display: block;
  text-align: center;
  height: 50px;
  background: #eeeeee;
  font-family: cursive;
}

.title {
  font-family: fantasy;
}

.description {
  font-family: fantasy;
}

/* Define the custom marker style */
.custom-marker {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

/* Define the marker circle style */
.marker-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}