<!DOCTYPE html>
<html>

<head>
    <title>San Antonio Restaurants Visualization</title>

    <title>Marker Clusters</title>
    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Marker cluster JavaScript code -->
    <script type="text/javascript"
        src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <!-- Marker cluster CSS -->
    <link rel="stylesheet" type="text/css"
        href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
</head>

<body>
    <div class="header">
        <h1 class="title">San Antonio's Foodie Paradise </h1>
        <p class="description">Access a treasure trove of restaurant data to satisfy your food cravings and explore new
            tastes</p>
        <a class="data-link" href="/api/restaurants">View Data</a>
    </div>
    <div class="main-grid">
        <div class="dropDownColumn">
            <div class="restaurantList">
                <label for="restaurantDropdown">Select a restaurant to see its information:</label>
                <select name="restaurant" id="restaurantList">
                </select>
                <div id="restaurantInformation">
                    <table>
                        <tbody>
                            <tr>
                                <td>Category: </td>
                                <td id="category"></td>
                            </tr>
                            <tr>
                                <td>Price Range: </td>
                                <td id="priceRange"></td>
                            </tr>
                            <tr>
                                <td>Address: </td>
                                <td id="address"></td>
                            </tr>
                            <tr>
                                <td>Cluster: </td>
                                <td id="clusterName"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tabs">
            <button class="tab-button" onclick="openTab('infoTab')">Home Tab</button>
            <button class="tab-button" onclick="openTab('businessTab')">Consulting</button>
        </div>
        <div class="tab-content" id="infoTab">
            <div id="map"></div>
        </div>
        <div class="tab-content" id="consultingTab">
            <page>What zip code should you stay in San Antonio to be close to delectable food?</page>
            <page>Are all the good taco places actually inside 410?</page>
        </div>
        <script type="text/javascript" src="/static/js/logic2.js"></script>
        <script>
            // Function to switch tabs
            function openTab(tabName) {
                var tabContent = document.getElementsByClassName("tab-content");

                // Hide all tab content
                for (var i = 0; i < tabContent.length; i++) {
                    tabContent[i].style.display = "none";
                }

                // Show the selected tab content
                document.getElementById(tabName).style.display = "block";
            }

            // Show the initial tab
            document.getElementById("infoTab").style.display = "block";

            // // Call the function to create and render the chart
            // createChart();
        </script>
        
    </div>
    <footer>
        <p>Cool Cat Coders<br>
            Asfia, Matty, Saroja, Taniya, Veronica
        </p>
    </footer>
</body>

</html>